<!DOCTYPE html>
	<html lang="en-US">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>menu1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"  >
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="app/route.js"></script>
    <script src="app/controllers/PostController.js"></script>
	</head>
    <body ng-app="sample" >
        <br><br>
        <h1>USER DETAILS</h1><br>
        <div ng-controller="myController">
             
               
            <table  align="center" width="40%"  height="40%" border="1" cellpadding="0"cellspacing="0" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
                <tr>
                    <tr ng-repeat="samples in data">
                        
                        <td>{{ samples.id }}</td>
                        <td>{{samples.name }}</td>
                        
                        
                    </tr>
        
                </tr>
            
            </table>
        
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   
<script type="text/javascript" src="script.js"></script>
  
    </body>
</html>







